* {
    background-color: beige;
}

body {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: red;
}

h3 {
    color: blue;
}